.carousel-indicators li {
  background-color: gainsboro;
}

.carousel-indicators .active {
  background-color: dimgrey;
}

 .carousel-control-prev-icon {
  background-color: dimgrey;
}

.carousel-control-next-icon {
  background-color: dimgrey;
} 